@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat.zip");
}
@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../assets/fonts/Roboto.zip");
}
@font-face {
  font-family: "Indie Flower";
  src: url("../assets/fonts/Indie_Flower.zip");
}
/*
TIPOGRAFIA
familia tipográfica: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;*/
/*PAGINA INDEX.HTML*/
.bodyinicio {
  background: linear-gradient(to right, #FFD9C0, #D7C0AE);
  width: 100%;
  height: 100vh;
}
.bodyinicio footer img {
  padding: 1rem;
}

.headerinicio, .header-nosotros, .header-promo, .header-servicio, .header-contacto {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.headerinicio nav, .header-nosotros nav, .header-promo nav, .header-servicio nav, .header-contacto nav {
  padding-right: 2rem;
}
.headerinicio ul, .header-nosotros ul, .header-promo ul, .header-servicio ul, .header-contacto ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.25rem;
  list-style: none;
  text-align: center;
}
.headerinicio li:hover, .header-nosotros li:hover, .header-promo li:hover, .header-servicio li:hover, .header-contacto li:hover {
  transform: scale(1.1);
}
.headerinicio a, .header-nosotros a, .header-promo a, .header-servicio a, .header-contacto a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.headerinicio a:active, .header-nosotros a:active, .header-promo a:active, .header-servicio a:active, .header-contacto a:active {
  color: black;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.container-fluid-1 {
  min-height: 46vh;
  padding: 2rem;
}
.container-fluid-1 h1 {
  color: black;
  font-size: 3rem;
  font-family: "Indie Flower";
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  --animation-duration: 15s;
}
.container-fluid-1 .row {
  display: flex;
  justify-content: center;
}
.container-fluid-1 .row img {
  border-radius: 40px;
  width: 18rem;
  height: 18rem;
  margin-bottom: 3rem;
  transition: height width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-fluid-1 .row img:hover {
  height: 20rem;
  width: 20rem;
}

/*PAGINA CONTACTO*/
.contacto {
  background-image: url("../assets/img/fondo contacto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header-contacto nav {
  padding-right: 2rem;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.main-contacto {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.main-contacto section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-self: center;
  align-self: center;
}
.main-contacto section h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
  text-decoration: none;
}
.main-contacto section form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}
.main-contacto section form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}
.main-contacto section form input[type=text],
.main-contacto section form input[type=email] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
.main-contacto section form input[type=submit] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}
.main-contacto section form input[type=submit]:hover {
  cursor: pointer;
}
.main-contacto section textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block;
}
.main-contacto section .mapa {
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
}
.main-contacto section .mapa iframe {
  width: auto;
  height: 15rem;
}

/*PAGINA SERVICIOS*/
.body1 {
  background-color: #D7C0AE;
}

.header-servicio nav {
  padding-right: 2rem;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.main-servicios {
  display: flex;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  gap: 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 2rem;
}
.main-servicios .card {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 1rem;
}

footer img {
  padding: 1rem;
}

/*PAGINA PROMOCIONES*/
.body-promo {
  background-color: #D7C0AE;
  width: 100%;
  height: 100vh;
}

.header-promo nav {
  padding-right: 2rem;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.conteiner-fluid3 {
  margin-top: 2rem;
  color: black;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
}
.conteiner-fluid3 img {
  height: 14rem;
  width: 13rem;
  border-radius: 10px;
  margin-top: 2rem;
}

/*PAGINA NOSOTROS*/
.nosotros {
  background-color: #D7C0AE;
  width: 100%;
}
.nosotros footer img {
  padding: 1rem;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.main-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin: 4rem;
}

.container-fluid-2 {
  display: flex;
  justify-content: center;
}
.container-fluid-2 .row {
  display: flex;
  justify-content: center;
}
.container-fluid-2 .row img {
  border-radius: 40px;
  width: 17rem;
  height: 19rem;
  margin-bottom: 3rem;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.cont div {
  display: flex;
  justify-content: center;
  align-self: center;
}
.cont div .img-fluid {
  border-radius: 40px;
  width: auto;
  height: 22rem;
  margin-bottom: 3rem;
}
.cont p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 34px;
  width: auto;
  background-color: #A1CCD1;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 5rem;
  margin: auto;
}

@media (max-width: 780px) {
  .headerinicio, .header-contacto, .header-servicio, .header-promo, .header-nosotros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .headerinicio ul, .header-contacto ul, .header-servicio ul, .header-promo ul, .header-nosotros ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
  }
  .headerinicio .iconos-superior, .header-contacto .iconos-superior, .header-servicio .iconos-superior, .header-promo .iconos-superior, .header-nosotros .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0.5rem;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .headerinicio .iconos-superior img, .header-contacto .iconos-superior img, .header-servicio .iconos-superior img, .header-promo .iconos-superior img, .header-nosotros .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .headerinicio .icono-lotus, .header-contacto .icono-lotus, .header-servicio .icono-lotus, .header-promo .icono-lotus, .header-nosotros .icono-lotus {
    justify-content: center;
  }
  .header-contacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header-contacto ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
  }
  .header-contacto .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0.5rem;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .header-contacto .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .header-contacto .icono-lotus {
    justify-content: center;
  }
  .iconos-superior {
    display: flex;
    justify-items: end;
    gap: 1.5rem;
  }
  .iconos-superior img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
  .iconos-superior img:hover {
    transform: scale(1.2);
  }
  .main-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .main-contacto form {
    align-self: center;
    gap: 2rem;
    margin-top: 5rem;
    margin: 2rem;
  }
  .main-contacto section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin-bottom: 8rem;
  }
  .iconos-inferiores {
    justify-content: center;
    padding-bottom: 3rem;
  }
  .container-fluid-1 h1 {
    text-align: center;
  }
  .main-nosotros {
    align-self: center;
    margin-top: 2rem;
    padding-bottom: 3.5rem;
    width: 100%;
    padding: 2rem;
  }
  .header-servicio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header-servicio ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
  }
  .header-servicio .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0.5rem;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .header-servicio .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .header-servicio .icono-lotus {
    justify-content: center;
  }
  .main-servicios {
    gap: 2rem;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nosotros ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
  }
  .header-promo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header-promo ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
  }
  .header-promo .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .header-promo .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .header-promo .icono-lotus {
    justify-content: center;
  }
  .header-nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header-nosotros ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
  }
  .header-nosotros .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .header-nosotros .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .header-nosotros .icono-lotus {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .iconos-superiores {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
