@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat.zip");
}
@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../assets/fonts/Roboto.zip");
}
@font-face {
  font-family: "Indie Flower";
  src: url("../assets/fonts/Indie_Flower.zip");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
TIPOGRAFIA
familia tipográfica: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;*/
/*PAGINA INDEX.HTML*/
.bodyinicio {
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
}

.headerinicio {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2862745098);
}
.headerinicio ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.25rem;
  list-style: none;
  text-align: center;
}
.headerinicio li:hover {
  transform: scale(1.1);
}
.headerinicio a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.headerinicio a:active {
  color: black;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.container-fluid-1 {
  min-height: 46vh;
}
.container-fluid-1 h1 {
  color: black;
  font-size: 3rem;
  font-family: "Indie Flower";
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container-fluid-1 .row {
  display: flex;
  justify-content: center;
}
.container-fluid-1 .row img {
  border-radius: 40px;
  width: 18rem;
  height: 18rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  transition: height width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-fluid-1 .row img:hover {
  height: 20rem;
  width: 20rem;
}

.iconos-inferiores {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

/*PAGINA CONTACTO*/
.contacto {
  background-image: url("../assets/img/fondo contacto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.headercontacto {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 1rem;
}
.headercontacto ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  list-style: none;
}
.headercontacto ul a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.headercontacto .iconos-contacto {
  display: flex;
  justify-items: end;
  align-self: center;
  gap: 1.5rem;
  width: 1rem;
  height: 1rem;
}

.main-contacto {
  margin-top: 3rem;
}
.main-contacto section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-self: center;
  align-self: center;
}
.main-contacto section h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
  text-decoration: none;
}
.main-contacto section fieldset {
  font-size: 1rem;
  color: black;
}
.main-contacto section form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #D7C0AE;
}
.main-contacto section form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}
.main-contacto section form form input[type=text],
.main-contacto section form form input[type=email] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
.main-contacto section form input[type=submit] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #BCE29E;
  background-color: #000;
}
.main-contacto section form textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block;
}
.main-contacto .mapa {
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
}
.main-contacto .mapa iframe {
  width: 20rem;
  height: 15rem;
}

/*PAGINA SERVICIOS*/
.body1 {
  background-color: #D7C0AE;
}
.body1 .header-servicios {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.body1 .header-servicios ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
.body1 .header-servicios ul a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.body1 .header-servicios ul a:active {
  color: #000;
}
.body1 .iconos-superior1 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.body1 .iconos-superior1 img {
  width: 1rem;
  height: 1rem;
}
.body1 .lotus-servicio {
  display: flex;
}
.body1 .lotus-servicio img {
  justify-content: right;
  height: 3rem;
  width: 3rem;
}

.main-servicios {
  display: flex;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  gap: 1rem;
  margin-top: 3rem;
}
.main-servicios .card {
  margin: 1rem;
}

.fot-servicios {
  min-height: 5rem;
}

/*PAGINA PROMOCIONES*/
.body-promo {
  background-color: beige;
  width: 100%;
  height: 100vh;
}

.header-promo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2862745098);
}
.header-promo ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.25rem;
  list-style: none;
  text-align: center;
}
.header-promo li:hover {
  transform: scale(1.1);
}
.header-promo a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.header-promo a:active {
  color: black;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.conteiner-fluid3 {
  margin-top: 2rem;
  color: black;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  padding-bottom: 3rem;
}
.conteiner-fluid3 img {
  margin: 1rem;
  height: 14rem;
  width: 13rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

/*PAGINA NOSOTROS*/
.nosotros {
  background-color: rgba(215, 192, 174, 0.3647058824);
  width: 100%;
}

.header-nosotros {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2862745098);
}
.header-nosotros ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.25rem;
  list-style: none;
  text-align: center;
}
.header-nosotros li:hover {
  transform: scale(1.1);
}
.header-nosotros a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.header-nosotros a:active {
  color: black;
}

.iconos-superior {
  display: flex;
  justify-items: end;
  gap: 1.5rem;
}
.iconos-superior img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.iconos-superior img:hover {
  transform: scale(1.2);
}

.main-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin: 2rem;
}

.container-fluid-2 {
  display: flex;
  justify-content: center;
}
.container-fluid-2 .row {
  display: flex;
  justify-content: center;
}
.container-fluid-2 .row img {
  border-radius: 40px;
  width: 17rem;
  height: 19rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  transition: height width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-fluid-2 .row img:hover {
  height: 20rem;
  width: 20rem;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.cont div {
  display: flex;
  justify-content: center;
  align-self: center;
}
.cont div .img-fluid {
  border-radius: 40px;
  width: auto;
  height: 22rem;
  margin-bottom: 3rem;
}
.cont div .img-fluid:hover {
  height: 28rem;
  width: 55rem;
}
.cont p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 34px;
  width: auto;
  background-color: rgba(255, 127, 80, 0.26);
  border-radius: 15px;
  text-align: center;
  margin-bottom: 5rem;
  margin: auto;
}

@media (max-width: 780px) {
  .headerinicio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .headerinicio ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0px;
  }
  .headerinicio .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0.5rem;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .headerinicio .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .headerinicio .icono-lotus {
    justify-content: center;
  }
  .headercontacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .headercontacto ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0px;
  }
  .headercontacto .iconos-contacto {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0.5rem;
    gap: 1rem;
  }
  .headercontacto .iconos-contacto img {
    width: 1rem;
    height: 1rem;
  }
  .main-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .main-contacto form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 2rem;
    margin-top: 5rem;
  }
  .main-contacto section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin-bottom: 8rem;
  }
  .iconos-inferiores {
    justify-content: center;
    padding-bottom: 3rem;
  }
  .container-fluid-1 h1 {
    text-align: center;
  }
  .main-nosotros {
    justify-content: center;
    align-self: center;
    margin-top: 2rem;
    padding-bottom: 3.5rem;
    width: 100%;
  }
  .main-servicios {
    margin-left: 4rem;
    gap: 2rem;
  }
  .header-servicios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header-servicios ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0px;
  }
  .header-servicios .iconos-superior1 {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0.5rem;
    gap: 1rem;
  }
  .header-servicios .iconos-superior1 img {
    width: 1rem;
    height: 1rem;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nosotros ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0px;
    width: 100%;
  }
  .header-promo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header-promo ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0px;
  }
  .header-promo .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .header-promo .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .header-promo .icono-lotus {
    justify-content: center;
  }
  .header-nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header-nosotros ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0px;
  }
  .header-nosotros .iconos-superior {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .header-nosotros .iconos-superior img {
    width: 1rem;
    height: 1rem;
  }
  .header-nosotros .icono-lotus {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .main-contacto form {
    gap: 0.5rem;
  }
  .iconos-superiores {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
  }
}
@media (max-width: 340px) {
  .formu {
    width: 16.25rem;
  }
  .mapa {
    width: 16.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
