@import "./base/Reset";
@import "./base/typo";

/*PAGINA INDEX.HTML*/
.bodyinicio{
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
}
.headerinicio{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #00000049;
    ul{
        display: flex;
        justify-content: center;
        gap: 3rem;
        font-size: 1.25rem;
        list-style: none;
        text-align: center;
    }
    li:hover{
        transform: scale(1.1);
    }
        a{
            text-decoration: none;
            color: white;
            font-family: 'Montserrat', sans-serif;
            &:active{
                color: black;
            }
        }
    .icono-lotus{
        justify-content: left;
        margin-left: 2rem;
    }
    }

.iconos-superior{
    display: flex;
    justify-items: end;
    gap: 1.5rem;
    padding-right: 2rem;
        img{
            width: 1rem;
            height: 1rem; 
            cursor: pointer;                     
            }  
            img:hover{
                transform: scale(1.2);
            }
        }
.container-fluid-1{
                min-height: 46vh;
                    h1{
                        color: black;
                        font-size: 3rem;
                        font-family: 'Indie Flower';
                        display: flex;
                        justify-content: center;
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                        }
                        .row{
                        display: flex;
                        justify-content: center;
                            img{
                                border-radius: 40px;
                                width: 18rem;
                                height: 18rem;
                                margin-left: 2rem;
                                margin-bottom: 3rem;
                                transition: height width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
                                &:hover{
                                    height:20rem ;
                                    width: 20rem;
                                }
                                }
                            
                            }
                        }
.iconos-inferiores{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

/*PAGINA NOSOTROS*/
.nosotros{
    background-image: url("../assets/img/fondo\ nosotros.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
        header{
            min-height: 2rem;
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-left: 1.5rem;
                    }
        }
}
.main-nosotros{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 7rem;
    margin-left: 3rem;
    min-height: 400px;
        p{
            font-style:'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 34px;
            width: 40rem;
        }
}
.footer-nosotros{
    background-color: #D7C0AE;
    width: 100%;
    text-align: center;
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 2rem;
            gap: 5rem;
            padding-left: 2rem;
            background-color: #D7C0AE;
            list-style: none;
        }
            a{
                color: #000;
                font-family: serif;
                font-size: 1.5rem;
            }
}

/*PAGINA PROMOCIONES*/
.body-promo{
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    .header-promo{
        display: flex;
        justify-content: center;
        min-height: 10vh;
        background-color: #00000067;
        nav{
            align-self: center;
            .navpromo{
                display: flex;
                flex-direction: row;
                height: 2.5rem;
                list-style: none;
                justify-content: center;
                align-self: center;
                gap: 6rem;
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 1.2rem;
                        }
                }
            }
        }        
    }
        
.conteiner-fluid{
    margin-top: 5rem;
    margin-left: 1rem;
    color: black;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
        img{
            height: 14rem;
            width: 13rem;
            border-radius: 10px;
        }
}

/*PAGINA SERVICIOS*/
.body1{
    background-color: #D7C0AE;
        .header-servicios{
            display: flex;
            justify-content: space-between;
            nav{
                align-self: center;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    gap: 4rem;
                    a{
                        text-decoration: none;
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        &:active{
                            color: #000;
                            }
                    }
                }
            }
            
    .iconos-superior1{
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 1.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
        img{
            width: 1rem;
            height: 1rem;
            }
            } 
    div{
        display: flex;
        img{
            justify-content: right;
            margin-left: 2rem;
            height: 5rem;
            width: 5rem;
                }
            }
        }
    }
.main-servicios{
    display: flex;
    justify-content: space-around;
    align-self: center;
    text-align: center;
}
.fot-servicios{
    min-height: 5rem;
}
/*PAGINA CONTACTO*/
.contacto{
    background-image:url("../assets/img/fondo\ contacto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headercontacto{
    ul{
        display:flex ;
        justify-content: center;
        justify-self: center;
        gap: 7rem;
        padding-top: 0.5rem;
        font-size: 1rem;
        list-style: none;
            a{
                text-decoration: none;
                color:black;
                font-family: 'Montserrat', sans-serif;    
            }
        }    
div{
    position: absolute;
    top:0.5rem;
    right:6rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    width: 1rem;
    height: 1rem;
    }
}          
.main-contacto{
    section{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        justify-self: center;
        align-self: center;
        h2{
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
            color: black;
            text-align: center;
            text-decoration: none;
            }
            fieldset{
            font-size: 1rem;
            color: black;
                    }
                form{
                    width:300px;
                    padding:16px;
                    border-radius:10px;
                    margin:auto;
                    background-color: #D7C0AE;
                    label{
                        width:72px;
                        font-weight:bold;
                        display:inline-block;
                        }
                        form input[type="text"],
                        form input[type="email"]{
                            width:180px;
                            padding:3px 10px;
                            border:1px solid #f6f6f6;
                            border-radius:3px;
                            background-color:#f6f6f6;
                            margin:8px 0;
                            display:inline-block;
                                    }
                            input[type="submit"]{
                                width:100%;
                                    padding:8px 16px;
                                    margin-top:32px;
                                    border:1px solid #000;
                                    border-radius:5px;
                                    display:block;
                                    color: #BCE29E;
                                    background-color:#000;
                                                    }
                                textarea{
                                    width:100%;
                                    height:100px;
                                    border:1px solid #f6f6f6;
                                    border-radius:3px;
                                    background-color:#f6f6f6;			
                                    margin:8px 0;
                                    resize:none;
                                    display:block;
                                            }
                                        }
                                    }
.mapa{
        margin-top: 8rem;
            iframe{
                width: 20rem;
                height: 15rem;
            }
        }
    }

@import "./utilities/_mediaqueries.scss";

/*FIN*/