
@media(max-width: 780px){
    .headerinicio {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-self: flex-start;
            text-align: center;
            margin-top: 1rem;
            padding-left: 0px;
        }
        .iconos-superior{
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: 0.5rem;
            gap: 1rem;
            img{
                width: 1rem;
                height: 1rem;
            }
        }
        .icono-lotus{
            justify-content: center;
        }
    }
    .headercontacto {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-self: flex-start;
            text-align: center;
            margin-top: 1rem;
            padding-left: 0px;
        }
        .iconos-contacto{
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: 0.5rem;
            gap: 1rem;
            img{
                width: 1rem;
                height: 1rem;
            }
        }
    }
    .main-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .main-contacto form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        gap: 2rem;
        margin-top: 5rem;
    }
    .main-contacto section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        margin-bottom: 8rem;
    }
    .iconos-inferiores{
        justify-content: center;
        padding-bottom: 3rem;
    }
    .container-fluid-1 h1{
        text-align: center;
    }
    .main-nosotros{
        justify-content: center;
        align-self: center;
        margin-top: 2rem;
        padding-bottom: 3.5rem;
        width: 100%;
    }

    .main-servicios{
        margin-left: 4rem;
        gap: 2rem;
    }
    .header-servicios{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-self: flex-start;
            text-align: center;
            margin-top: 1rem;
            padding-left: 0px;
        }
        .iconos-superior1{
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: 0.5rem;
            gap: 1rem;
            img{
                width: 1rem;
                height: 1rem;
            }
        }
    }
    .nosotros{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-self: flex-start;
            text-align: center;
            margin-top: 1rem;
            padding-left: 0px;
            width: 100%;
        }
}
.header-promo{
    display: flex;
    flex-direction: column;
    width: 100%;
    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-self: flex-start;
        text-align: center;
        margin-top: 1rem;
        padding-left: 0px;
    }
    .iconos-superior{
        display: flex;
        justify-content: center;
        align-self: center;
        padding-bottom: 1rem;
        gap: 1rem;
        img{
            width: 1rem;
            height: 1rem;
        }
    }
    .icono-lotus{
        justify-content: center;
    }
}
.header-nosotros{
    display: flex;
    flex-direction: column;
    width: 100%;
    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-self: flex-start;
        text-align: center;
        margin-top: 1rem;
        padding-left: 0px;
    }
    .iconos-superior{
        display: flex;
        justify-content: center;
        align-self: center;
        padding-bottom: 1rem;
        gap: 1rem;
        img{
            width: 1rem;
            height: 1rem;
        }
    }
    .icono-lotus{
        justify-content: center;
    }
}
}

@media(max-width: 425px){  
    .main-contacto form{
        gap: 0.5rem;
    }
    .iconos-superiores{
        display: flex;
        flex-direction: column;
        padding-right: 0.5rem;
    }
}

@media(max-width: 340px){
    .formu{
        width: 16.25rem;
    }
    .mapa{
        width: 16.25rem;
    }
}





