
@media(max-width: 1024px){
    .main-nosotros p{
        left: 3rem;
        width: 30rem;
        line-height: 30px;
    }
}
@media(max-width: 780px){
    .headercontacto {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-self: flex-start;
            text-align: center;
            margin-top: 1rem;
            padding-left: 0px;
        }
        .iconos-contacto{
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: 0.5rem;
            gap: 1rem;
            img{
                width: 1rem;
                height: 1rem;
            }
        }
    }
}
    .main-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .main-contacto form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        gap: 2rem;
        margin-top: 5rem;
    }
    .main-contacto section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        margin-bottom: 8rem;
    }
    .headerinicio{
        ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;          
        }
    }
    .iconos-inferiores{
        justify-content: center;
        padding-bottom: 3rem;
    }
    .container-fluid-1 h1{
        text-align: center;
    }
    .main-nosotros p{
        width: 20rem;
    }
    .main-nosotros{
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        padding-bottom: 3.5rem;
    }
    .header-promo{
        .navpromo{
            display: flex;
            flex-direction: column;
        }
    }
    .main-servicios{
        margin-left: 5rem;
    }
    .header-servicios{
        margin-top: 1rem;
        nav{
            display: flex;
            gap: 1rem;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 1rem;
            }
        }
        .iconos-superior1{
            padding-right: 0px;
        }
    }


@media(max-width:696px){
    .body1 nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}
@media(max-width: 425px){  
    .headerinicio{
        justify-content: center;
        gap: 2rem;
        ul{
            padding-left: 0px;
        }
        .icono-lotus{
            margin-left: 0px;
        }
        .iconos-superior{
            padding-right: 0px;
        }
        
        }
    .main-contacto form{
        gap: 0.5rem;
    }
    .iconos-superiores{
        display: flex;
        flex-direction: column;
        padding-right: 0.5rem;
    }
    .iconos-superior{
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
    }
    .header-servicios{
        .iconos-superior1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            gap: 2rem;
        }
    }
}

@media(max-width: 320px){
    .formu{
        width: 260px;
    }
    .main-contacto{
        justify-items: center;
    }
}





