
@media(max-width: 1024px){
    .contacto nav{
        gap: 2rem;
    }
    .contacto div{
        right: 1rem;
    }
    .main-nosotros p{
        left: 3rem;
        width: 30rem;
        line-height: 30px;
    }
}
@media(max-width: 780px){
    .main-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .main-contacto form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        gap: 2rem;
        margin-top: 5rem;
    }
    .main-contacto section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        margin-bottom: 8rem;
    }
    .contacto ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
    
    .iconos-contacto{
        display: flex;
        flex-direction: column;
    }
    }
    .headerinicio{
        ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;          
        }
    }
    .iconos-inferiores{
        justify-content: center;
        padding-bottom: 3rem;
    }
    .container-fluid-1 h1{
        text-align: center;
    }
    .main-nosotros p{
        width: 20rem;
    }
    .main-nosotros{
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        padding-bottom: 3.5rem;
    }
    .navpromo{
        display: flex;
        flex-direction: column;
        height: 10rem;
    }
    .main-servicios{
        margin-left: 5rem;
    }
    .header-servicios ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin-top: 2rem;
    }
}


@media(max-width:696px){
    .body1 nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    .main-servicios{
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        justify-content: center;
        text-align: center;
    }
    .iconos-superior1{
        flex-direction: column;
        margin-bottom: 14rem;
        img{
            justify-content: center;
            align-self: center;
        }
    }
    
}
@media(max-width: 425px){  
    .main-contacto form{
        gap: 0.5rem;
    }
    .contacto div{
        gap: 0.5rem;
    }
    .iconos-superiores{
        display: flex;
        flex-direction: column;
        padding-right: 0.5rem;
    }
    .iconos-superior{
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
    }
}

@media(max-width: 320px){
    .formu{
        width: 260px;
    }
    .contacto div{
        gap: 0.5rem;
    }
    .main-contacto{
        justify-items: center;
    }
    .headercontacto{
        gap: 2rem;
    }
}




