/*PAGINA NOSOTROS*/

.nosotros{
    background-color: #d7c0ae5d;
    width: 100%;
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #00000049;
        ul{
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 3rem;
            font-size: 1.25rem;
            list-style: none;
            text-align: center;
            a{
                text-decoration: none;
                color: white;
                font-family: 'Montserrat', sans-serif;
                &:active{
                    color: black;
                }
                }
            }               
        }  
        div{
            justify-content: left;
            padding-left: 2rem;
        }
        
    }

.main-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    min-height: 400px;
    p{
        justify-content: center;
        font-style:'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 34px;
        width: 60rem;
        background-color: rgba(255, 127, 80, 0.26);
        border-radius: 15px;
        text-align: center;
        margin-bottom: 5rem;
        }
}
.container-fluid-2{
    display: flex;
    min-height: 46vh;
            .row{
            display: flex;
            justify-content: center;
                img{
                    border-radius: 40px;
                    width: 17rem;
                    height: 19rem;
                    margin-left: 2rem;
                    margin-bottom: 3rem;
                    transition: height width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover{
                        height:20rem ;
                        width: 20rem;
                    }
                    }               
                }
            }
.container-fluid-3{
    min-height: 10rem;
    .row{
    display: flex;
    justify-content: center;
    align-self: center;
        img{
            border-radius: 40px;
            width: 50rem;
            height: 22rem;
            margin-bottom: 3rem;
            &:hover{
                height:28rem ;
                width: 55rem;
                }
            }
        }
    }
