/*PAGINA NOSOTROS*/

.nosotros{
    background-color: #d7c0ae5d;
    width: 100%;
}
.header-nosotros{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #00000049;
    ul{
        display: flex;
        justify-content: center;
        gap: 3rem;
        font-size: 1.25rem;
        list-style: none;
        text-align: center;
    }
    li:hover{
        transform: scale(1.1);
    }
        a{
            text-decoration: none;
            color: white;
            font-family: 'Montserrat', sans-serif;
            &:active{
                color: black;
            }
        }
    }

.iconos-superior{
    display: flex;
    justify-items: end;
    gap: 1.5rem;
        img{
            width: 1rem;
            height: 1rem; 
            cursor: pointer;                     
            }  
            img:hover{
                transform: scale(1.2);
            }
        }


.main-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin: 2rem;
        }
.container-fluid-2{
    display: flex;
    justify-content: center;
            .row{
            display: flex;
            justify-content: center;
                img{
                    border-radius: 40px;
                    width: 17rem;
                    height: 19rem;
                    margin-left: 2rem;
                    margin-bottom: 3rem;
                    transition: height width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover{
                        height:20rem ;
                        width: 20rem;
                    }
                    }               
                }
            }
.cont{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin: 1rem;
    div{
    display: flex;
    justify-content: center;
    align-self: center;
        .img-fluid{
            border-radius: 40px;
            width: auto;
            height: 22rem;
            margin-bottom: 3rem;
            &:hover{
                height:28rem ;
                width: 55rem;
                }
            }
        }
        p{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-style:'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 34px;
            width: auto;
            background-color: rgba(255, 127, 80, 0.26);
            border-radius: 15px;
            text-align: center;
            margin-bottom: 5rem;
            margin: auto;
    }
    }
