/*PAGINA SERVICIOS*/
.body1{
    background-color: #D7C0AE;
        .header-servicios{
            display: flex;
            justify-content: space-between;
            nav{
                align-self: center;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    gap: 4rem;
                    a{
                        text-decoration: none;
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        &:active{
                            color: #000;
                            }
                    }
                }
            }
            
    .iconos-superior1{
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 1.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
        img{
            width: 1rem;
            height: 1rem;
            }
            } 
    div{
        display: flex;
        img{
            justify-content: right;
            margin-left: 2rem;
            height: 5rem;
            width: 5rem;
                }
            }
        }
    }
.main-servicios{
    display: flex;
    justify-content: space-around;
    align-self: center;
    text-align: center;
}
.fot-servicios{
    min-height: 5rem;
}